<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicalstructure">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AwakenMyLoveActivity"
            android:label="@string/awaken_my_love"/>
        <activity
            android:name=".BecauseTheInternetActivity"
            android:label="@string/because_the_internet"/>
        <activity
            android:name=".CampActivity"
            android:label="@string/camp"/>
        <activity
            android:name=".KauaiActivity"
            android:label="@string/kauai"/>
        <activity
            android:name=".RoyaltyActivity"
            android:label="@string/royalty"/>
        <activity
            android:name=".ThisIsAmericaActivity"
            android:label="@string/this_is_america"/>
        <activity
            android:name=".EpActivity"
            android:label="@string/ep"/>
        <activity
            android:name=".MmxxlActivity"
            android:label="@string/mmxxl">
        </activity>
    </application>

</manifest>